.products__list {
   display: flex;
   align-items: center;

   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;

}



/* .products__list>.product__logged:last-child {
   margin-right: auto;
   margin-left: 1rem;
} */