.carousel__container__title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1080px) {}

@media screen and (max-width: 860px) {
  .carousel__container__title {
    font-size: 1.375rem;

  }
}