.carousel__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  color: var(--white);
}

@media screen and (max-width: 1080px) {
  .carousel__container {
    margin-top: 5rem;
    gap: .5rem;
  }
}

@media screen and (max-width: 860px) {
  .carousel__container {
    margin-top: 2rem;
  }
}