.wrapper__details {
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

@media screen and (max-width: 830px) {}

@media screen and (max-width:660px) {
   .wrapper__details {
      padding: 1rem;
   }
}