.details__title {
   font-size: 3.5rem;
   font-weight: 500;
}

@media screen and (max-width: 830px) {}

@media screen and (max-width: 660px) {
   .details__title {
      font-size: 1.375rem;
   }


}