@import url("./button-settings.css");

.product__settings {
   position: absolute;
   display: flex;
   right: 0.5rem;
   gap: 1rem;
   top: 0.5rem;
}

/* .button__page--home-logged {
   display: none;
} */

.product__logged {
   position: relative;
   margin-bottom: 4rem;
   display: flex;
   width: 10.25rem;
   height: 15.75rem;
   flex-direction: column;
   align-items: flex-start;
   overflow: hidden;
   gap: 0.5rem;
}

.products__list {
   margin-top: 1rem;
   overflow: hidden;
}