.form__group {
   display: flex;
   flex-direction: column;
   background-color: var(--gray-100);
   border-radius: 0.25rem;
   border-bottom: 1px solid var(--gray-200);
   position: relative;
   margin: 1rem 0;
}

input.inputName {
   width: 100%;
   padding: .75rem;
   border-bottom: 1px solid var(--gray-300);
   border-radius: 5px;
   outline: 0;
   transition: all 0.2s ease-in-out;
}

label.labelInputName {
   position: absolute;
   bottom: .75rem;
   left: .75rem;
   color: var(--gray-300);
   cursor: text;
   transition: all 0.2s ease-in-out;
}

input.inputName:focus,
input.inputName:valid {
   border-bottom: 3px solid var(--blue-500);
}


.inputName:focus~label.labelInputName,
.inputName:valid~label.labelInputName {
   transform: translateY(16rem);
   font-size: 0.75rem;
   color: var(--blue-500);
}


@media screen and (max-width: 1080px) {}

@media screen and (max-width: 760px) {}

@media screen and (max-width: 360px) {}