.form__group__links {
   display: flex;
   align-items: start;
   justify-content: space-between;
}

@media screen and (max-width: 768px) {
   .form__group__links {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
   }
}

@media screen and (max-width: 360px) {
   .form__group__links {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}